VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id_here
VITE_APP_PASSWORD=your_project_password_here
VITE_META_SHEET_ID=your_meta_sheet_id_here
VITE_ADMIN_PASSWORD=your_admin_password_bcrypt_hash_here
